* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar a:hover {
    color: red;
}

.hero-text {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.hero h1 {
    font-size: 48px;
    color: red;
}

.cards {
    background: #111;
    padding: 80px 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background: #f2f2f2;
    width: 220px;
    padding: 25px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
}

.card h3 {
    color: red;
    margin-bottom: 10px;
}

.galerie {
    background: black;
    color: white;
    padding: 80px 40px;
    text-align: center;
}

.galerie h2 {
    margin-bottom: 40px;
    color: red;
}

.images {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.images img {
    width: 300px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.images img:hover {
    transform: scale(1.05);
}


footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: red;
    text-decoration: none;
}

.top-images {
    background: black;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.top-images img {
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.top-images img:hover {
    transform: scale(1.05);
}

.hero {
    height: 60vh;
    background: url("acceuil_drone.png") center/cover no-repeat;
    margin-top: 50px;
    position: relative;
}

.logo-rond {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: white;
    padding: 0px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.7);
}

.image-box {
    position: relative;
    width: 300px;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s, transform 0.3s;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
    pointer-events: none;
}

.image-box:hover img {
    opacity: 0.6;
    transform: scale(1.05);
}

.image-box:hover .image-text {
    opacity: 1;
}

.image-link {
    text-decoration: none;
    color: inherit;
    display: block;
}